# Relational Data Modeling

In this tutorial we will be showing how to model a real world multi-table dataset using SDV.

## About the datset

We have a store series, each of those have a size and a category and additional information in a given date: average temperature in the region, cost of fuel in the region, promotional data, the customer price index, the unemployment rate and whether the date is a special holiday.

From those stores we obtained a training of historical data 
between 2010-02-05 and 2012-11-01. This historical data includes the sales of each department on a specific date.
In this notebook, we will show you step-by-step how to download the "Walmart" dataset, explain the structure and sample the data.

In this demonstration we will show how SDV can be used to generate synthetic data. And lately, this data can be used to train machine learning models.

*The dataset used in this example can be found in [Kaggle](https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting/data), but we will show how to download it from SDV.*

### Data model summary

<p style="text-align: center"><b>stores</b><p>

| Field | Type        | Subtype | Additional Properties |
|-------|-------------|---------|-----------------------|
| Store | id          | integer | Primary key           |
| Size  | numerical   | integer |                       |
| Type  | categorical |         |                       |

Contains information about the 45 stores, indicating the type and size of store.

<p style="text-align: center"><b>features</b><p>

| Fields       | Type      | Subtype | Additional Properties       |
|--------------|-----------|---------|-----------------------------|
| Store        | id        | integer | foreign key (stores.Store)  |
| Date         | datetime  |         | format: "%Y-%m-%d"          |
| IsHoliday    | boolean   |         |                             |
| Fuel_Price   | numerical | float   |                             |
| Unemployment | numerical | float   |                             |
| Temperature  | numerical | float   |                             |
| CPI          | numerical | float   |                             |
| MarkDown1    | numerical | float   |                             |
| MarkDown2    | numerical | float   |                             |
| MarkDown3    | numerical | float   |                             |
| MarkDown4    | numerical | float   |                             |
| MarkDown5    | numerical | float   |                             |

Contains historical training data, which covers to 2010-02-05 to 2012-11-01.

<p style="text-align: center"><b>depts</b><p>

| Fields       | Type      | Subtype | Additional Properties        |
|--------------|-----------|---------|------------------------------|
| Store        | id        | integer | foreign key (stores.Stores)  |
| Date         | datetime  |         | format: "%Y-%m-%d"           |
| Weekly_Sales | numerical | float   |                              |
| Dept         | numerical | integer |                              |
| IsHoliday    | boolean   |         |                              |

Contains additional data related to the store, department, and regional activity for the given dates.

### 1. Load data

Let's start downloading the data set. In this case, we will download the data set *walmart*. We will use the SDV function `load_demo`, we can specify the name of the dataset we want to use and if we want its Metadata object or not. To know more about the demo data [see the documentation](https://sdv-dev.github.io/SDV/api/sdv.demo.html).

In [1]:
# Setup logging and warnings
import logging;
logging.basicConfig(level=logging.INFO)
logging.getLogger().setLevel(level=logging.WARNING)
logging.getLogger('sdv').setLevel(level=logging.INFO)

import warnings
warnings.simplefilter("ignore")

In [2]:
from sdv import load_demo

metadata, tables = load_demo(dataset_name='walmart', metadata=True)

2020-08-05 20:21:53,505 - INFO - sdv.metadata - Loading table stores
2020-08-05 20:21:53,513 - INFO - sdv.metadata - Loading table features
2020-08-05 20:21:53,526 - INFO - sdv.metadata - Loading table depts

Our dataset is downloaded from an [Amazon S3 bucket](http://sdv-datasets.s3.amazonaws.com/index.html) that contains all available data sets of the `load_demo` method.

We can now visualize the metadata structure

In [3]:
metadata.visualize()

And also validate that the metadata is correctly defined for our data

In [4]:
metadata.validate(tables)

In [5]:
from sdv.utils import display_tables

display_tables(tables)

### 2. Create an instance of SDV and train the instance

Once we download it, we have to create an SDV instance. With that instance, we have to analyze the loaded tables to generate a statistical model from the data. In this case, the process of adjusting the model is quickly because the dataset is small. However, with larger datasets it can be a slow process.

In [6]:
from sdv import SDV

sdv = SDV()
sdv.fit(metadata, tables=tables)

2020-08-05 20:21:55,259 - INFO - sdv.modeler - Modeling stores
2020-08-05 20:21:55,260 - INFO - sdv.metadata - Loading transformer CategoricalTransformer for field Type
2020-08-05 20:21:55,260 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field Size
2020-08-05 20:21:55,269 - INFO - sdv.modeler - Modeling depts
2020-08-05 20:21:55,269 - INFO - sdv.metadata - Loading transformer DatetimeTransformer for field Date
2020-08-05 20:21:55,270 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field Weekly_Sales
2020-08-05 20:21:55,270 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field Dept
2020-08-05 20:21:55,270 - INFO - sdv.metadata - Loading transformer BooleanTransformer for field IsHoliday
2020-08-05 20:21:56,148 - INFO - sdv.modeler - Modeling features
2020-08-05 20:21:56,149 - INFO - sdv.metadata - Loading transformer DatetimeTransformer for field Date
2020-08-05 20:21:56,149 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field MarkDown1
2020-08-05 20:21:56,149 - INFO - sdv.metadata - Loading transformer BooleanTransformer for field IsHoliday
2020-08-05 20:21:56,149 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field MarkDown4
2020-08-05 20:21:56,150 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field MarkDown3
2020-08-05 20:21:56,150 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field Fuel_Price
2020-08-05 20:21:56,151 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field Unemployment
2020-08-05 20:21:56,151 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field Temperature
2020-08-05 20:21:56,152 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field MarkDown5
2020-08-05 20:21:56,152 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field MarkDown2
2020-08-05 20:21:56,152 - INFO - sdv.metadata - Loading transformer NumericalTransformer for field CPI
2020-08-05 20:21:57,675 - INFO - sdv.modeler - Modeling Complete

Note: We may not want to train the model every time we want to generate new synthetic data. We can [save](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) the SDV instance to [load](https://sdv-dev.github.io/SDV/api/sdv.sdv.html#sdv.sdv.SDV.save) it later.

### 3. Generate synthetic data

Once the instance is trained, we are ready to generate the synthetic data.

The easiest way to generate synthetic data for the entire dataset is to call the `sample_all` method. By default, this method generates only 5 rows, but we can specify the row number that will be generated with the `num_rows` argument. To learn more about the available arguments, see [sample_all](https://sdv-dev.github.io/SDV/api/sdv.sampler.html#sdv.sampler.Sampler.sample_all).

In [7]:
sdv.modeler.table_sizes

{'stores': 45, 'depts': 421570, 'features': 8190}

In [8]:
samples = sdv.sample_all()

This returns a dictionary with the same format as the input `tables`, with
a `pandas.DataFrame` for each table.

In [9]:
samples.keys()

dict_keys(['stores', 'depts', 'features'])

In [10]:
display_tables(samples)

We may not want to generate data for all tables in the dataset, rather for just one table. This is possible with SDV using the `sample` method. To use it we only need to specify the name of the table we want to synthesize and the row numbers to generate. In this case, the "walmart" data set has 3 tables: stores, features and depts.

In the following example, we will generate 1000 rows of the "features" table.

In [11]:
sdv.sample('features', 1000, sample_children=False)

,Date,MarkDown1,Store,IsHoliday,MarkDown4,MarkDown3,Fuel_Price,Unemployment,Temperature,MarkDown5,MarkDown2,CPI
0,2011-05-16 22:12:16.719949312,NaN,45,False,NaN,-3522.610360,3.557379,10.119276,84.948873,NaN,NaN,130.097566
1,2012-05-07 18:21:57.668985856,13882.743393,49,False,10409.402379,392.508334,3.696959,7.697493,49.363466,4296.996403,-432.020252,122.412264
2,2010-09-09 01:38:54.464363264,NaN,46,False,NaN,NaN,2.981501,8.281216,99.879443,NaN,NaN,134.195498
3,2012-01-25 14:53:44.246531840,9927.716783,48,True,5438.785435,NaN,3.467548,9.272527,69.947886,NaN,3538.205782,121.043138
4,2011-07-03 02:42:31.676273408,14814.954099,49,False,8365.552143,6867.661993,2.741602,7.094083,87.784597,8220.514161,425.358506,236.021879
5,2012-02-27 06:10:45.754697472,8816.901591,45,False,NaN,2263.174004,3.989228,8.134336,82.983094,4682.423318,NaN,177.070555
6,2009-06-25 00:57:40.227447552,NaN,45,False,NaN,NaN,2.406865,8.877070,35.395686,NaN,NaN,191.663563
7,2012-11-08 12:02:01.170885888,3067.194088,46,False,2143.278025,761.688935,3.686846,6.783572,27.675874,1340.924945,3653.037306,128.662878
8,2011-08-01 05:01:06.322296576,9369.668949,45,False,4459.373644,6272.463483,3.273961,10.398373,48.396609,8529.139835,10030.259069,157.443283
9,2010-12-21 01:50:51.813451264,NaN,47,False,NaN,NaN,2.983382,9.394405,59.193581,NaN,NaN,160.979347
10,2012-04-02 15:27:30.499279360,4258.384061,47,False,2298.419586,1327.806172,3.128438,8.547957,62.364361,8850.782860,420.405375,236.681153
11,2011-09-16 22:09:49.708962816,4061.369413,46,False,NaN,6105.997291,2.790730,6.763811,45.134604,-611.144232,NaN,199.679280
12,2012-11-06 02:21:27.492714752,8777.125206,46,False,5530.708751,-799.221806,3.558818,7.233418,71.933357,825.428658,3706.480639,125.742918
13,2012-11-01 15:37:07.648778240,13695.370418,46,True,3844.820453,7782.224536,3.561333,8.081871,63.080199,2811.250458,5016.360863,183.209492
14,2010-04-24 10:27:35.922357504,NaN,49,False,NaN,NaN,2.489370,6.215088,60.624319,NaN,NaN,240.002902
15,2013-02-02 23:13:11.213843712,5039.654238,47,False,2074.175181,5216.051007,4.058931,6.185562,69.767338,3106.710909,3049.266396,210.162782
16,2013-07-06 22:45:58.830334464,11937.666237,48,False,2519.893655,986.608180,4.228705,9.111046,52.940173,5418.801564,6520.694132,116.337056
17,2012-11-28 11:25:10.521213952,21897.961729,48,False,13413.349614,2209.977156,3.646627,9.421001,61.592049,5265.465441,7182.194803,138.127029
18,2011-01-26 22:11:03.367919104,NaN,46,False,NaN,NaN,3.949940,9.532300,97.857372,NaN,-2743.072869,114.672211
19,2011-08-19 07:24:03.778560000,NaN,49,False,NaN,NaN,3.125037,7.922240,56.105412,NaN,NaN,158.700466
20,2012-02-21 20:31:45.161696512,6954.924023,45,False,4816.896477,6247.874377,2.874874,6.238975,76.837824,7723.001352,NaN,213.769268
21,2013-02-22 12:51:42.753999104,3002.459708,47,False,2922.336087,-1020.507649,3.893631,5.961414,63.775849,2135.992202,930.417913,203.352174
22,2010-08-24 00:01:30.848025600,NaN,45,False,NaN,NaN,3.169432,7.836160,80.852115,NaN,NaN,125.225771
23,2010-03-27 02:14:20.085373184,NaN,48,False,NaN,NaN,2.628957,5.710371,65.652859,NaN,NaN,181.425093
24,2012-03-16 06:09:05.035138816,-2643.345105,45,False,-2702.178818,-1238.030435,3.172917,6.977321,52.259834,8616.868748,NaN,145.373576
25,2011-06-02 11:41:53.499891200,NaN,49,False,NaN,NaN,2.630476,8.724658,51.608481,NaN,NaN,234.722885
26,2010-08-09 14:05:53.611908352,NaN,48,False,NaN,NaN,2.889739,7.889335,53.526645,NaN,NaN,192.191322
27,2011-01-27 15:31:38.092682240,NaN,45,False,NaN,NaN,3.859846,9.761703,63.676337,NaN,1464.144620,168.253128
28,2014-07-22 16:45:13.151007232,11203.026007,49,False,4950.165996,648.404705,3.986740,6.172010,82.977615,-1883.126604,3952.304622,199.752206
29,2010-03-09 11:38:45.433661952,NaN,48,False,NaN,NaN,2.445006,8.125775,34.736076,NaN,NaN,204.123654
...,...,...,...,...,...,...,...,...,...,...,...,...
970,2012-02-10 06:22:25.778329344,10910.510616,49,False,5676.148272,NaN,3.399604,6.840746,74.305554,10399.878100,NaN,217.932325
971,2010-09-22 00:35:35.110930944,NaN,48,False,NaN,NaN,2.926635,9.633406,67.659559,NaN,NaN,181.112873
972,2012-03-26 13:12:39.923467008,13848.137176,46,False,4408.683357,3396.258993,3.802886,7.743784,23.716938,6069.842645,4231.388132,150.394740
973,2012-06-17 23:18:04.111680000,16384.811603,48,False,7503.905048,2463.226845,3.998348,7.068228,63.060224,-813.221231,6531.710844,204.646832
974,2012-12-07 06:00:01.461283072,13415.762030,49,False,4483.786527,-3437.499171,3.600467,7.618567,38.692164,3368.498977,773.996001,201.941713
975,2011-08-03 07:33:02.839435776,NaN,47,False,NaN,NaN,3.767102,6.550577,78.754125,NaN,NaN,215.906279
976,2011-06-01 15:48:14.452527104,NaN,46,False,NaN,NaN,3.671096,10.960368,58.719499,NaN,NaN,101.798360
977,2011-07-18 13:46:07.451840000,NaN,49,False,NaN,NaN,3.246079,9.977418,56.902135,NaN,NaN,187.444668
978,2011-03-01 03:55:56.868541696,NaN,45,False,NaN,NaN,2.814714,8.493884,61.988793,NaN,NaN,196.494150
979,2010-10-22 20:24:17.398207488,NaN,47,False,NaN,NaN,3.914678,6.380173,88.106303,NaN,NaN,162.631404
980,2011-12-29 19:47:18.864218624,3265.808771,47,False,-1199.539894,NaN,2.351292,NaN,24.080899,3253.373587,5397.662703,NaN
981,2012-10-27 17:44:01.544715520,3836.793728,48,False,2723.035308,-2846.358659,3.574000,10.483418,63.860599,3887.188911,5239.436741,175.327534
982,2010-11-11 08:41:45.401498880,NaN,49,False,NaN,NaN,3.397327,9.024581,65.181815,NaN,NaN,133.838040
983,2011-06-11 14:35:02.727222784,NaN,49,False,NaN,NaN,2.926216,9.930411,57.195777,NaN,NaN,197.707462
984,2011-02-19 04:01:32.238805248,NaN,45,False,NaN,NaN,2.992983,6.273455,94.580623,NaN,NaN,217.975098
985,2011-07-10 04:32:49.469103360,NaN,47,False,NaN,NaN,2.878385,9.473094,62.706788,NaN,NaN,209.991699
986,2010-08-31 22:36:46.645955072,NaN,45,False,NaN,NaN,3.013323,7.791802,43.754108,NaN,NaN,212.972585
987,2010-12-03 18:06:07.042392576,NaN,48,False,NaN,NaN,3.257432,7.699337,76.275396,NaN,NaN,226.856944
988,2013-11-10 17:06:53.568315392,15455.601861,45,False,8761.934061,8113.118038,3.974762,10.145966,69.774517,10368.083822,-1179.231505,236.037290
989,2013-04-18 17:28:59.214258432,4671.643893,45,False,3684.809978,118.750436,3.383109,7.715390,68.296920,1872.949970,10135.097570,171.015002
990,2011-10-21 00:01:25.161750784,10474.503569,47,False,4153.891418,-3407.832503,2.938356,4.727209,42.250078,3850.718837,NaN,167.552282
991,2010-10-05 23:16:37.648663040,NaN,49,True,NaN,NaN,3.756815,7.480490,92.256178,NaN,NaN,145.564639
992,2010-12-22 11:17:15.068431872,NaN,47,False,NaN,-1997.454287,3.087294,8.188031,86.205066,NaN,NaN,159.685843
993,2011-12-28 23:25:41.801294336,16350.305150,49,False,3406.974997,-5435.686985,3.471616,9.531845,79.482367,11821.291964,4206.835269,156.621456
994,2011-05-10 22:14:29.908780544,NaN,48,False,3180.839028,2592.008194,2.482860,8.996028,28.607111,NaN,8289.490120,166.280079
995,2012-09-13 17:18:31.073678592,5768.475257,46,False,-117.426788,2882.135096,3.472646,9.250116,41.815140,3555.326207,5190.237248,253.283869
996,2012-05-04 05:35:44.629785600,1049.718825,49,False,-2197.174624,NaN,3.679516,10.652481,75.748123,1987.708208,NaN,157.348891
997,2011-01-22 04:43:37.968207104,NaN,45,False,NaN,NaN,3.801804,6.335627,52.573134,NaN,NaN,98.119109
998,2010-07-16 04:47:56.644150528,NaN,48,False,NaN,NaN,2.818916,7.680164,62.518471,NaN,NaN,247.350604
999,2012-01-25 09:03:21.837204480,2805.993932,49,False,NaN,8908.682318,3.089580,6.513568,42.013851,5055.234941,NaN,202.510363

SDV has tools to evaluate the synthetic data generated and compare them with the original data. To see more about the evaluation tools, [see the documentation](https://sdv-dev.github.io/SDV/api/sdv.evaluation.html#sdv.evaluation.evaluate).